<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/board.css}" />
    <title>Insert title here</title>
</head>

<body>
    <div class="container" th:object="${data}">
        <h2>게시판 등록</h2>
        <form id="frm" name="frm" method="post" action="/board/insertBoard">
            <table class="board_detail">
                <tr>
                    <td>제목</td>
                    <td>
                        <input type="text" th:field="*{title}"/></a>
                    </td>
                </tr>
                <tr>
                    <td>내용</td>
                    <td>
                        <textarea th:field="*{contents}"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit" value="저장" class="btn" />
            <a href="boardList" class="btn">목록으로</a>
        </form>
    </div>
</body>

</html>