<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/board.css}" />
    <title>Insert title here</title>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <script>
        
            /**   
            let div = document.createElement("div")
            div.append("<p>asd</p>")
            console.log(div.childNodes)
         
            /*  
            let div = document.createElement("div")
            div.append("Some text")

            console.log(div.text()) // "Some text"
            */
            

    </script>


</head>

<body>
    <div class="container" th:object="${data}">
        <h2>게시판 등록</h2>
        <form id="frm" name="frm" method="post" action="/board/insertBoard">
            <table class="board_detail">
                <tr>
                    <td>제목</td>
                    <td>
                        <input type="text" th:field="*{title}"/></a>
                    </td>
                </tr>
                <tr>
                    <td style="vertical-align: top">내용</td>
                    <td>
                        <textarea th:field="*{contents}"></textarea>
                    </td>
                </tr>
            </table>
            <input type="submit" id="submit" value="저장" class="btn" />
            <a href="/board/boardList" class="btn">목록으로</a>
        </form>
    </div>
</body>

</html>