<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/board.css}"/>
<script src="/js/commons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){
    $('#list').on("click",function(){
      location.href="/board/boardList";
    });

    console.log($(frm));

    
    $('#edit').on("click",function(){
      var frm = $('#frm')[0];

      //var title = $("#title").val();
      //var contents = $("#contents").val();

      var param = {
                    boardId : $("#boardId").val(),
                    title: $("#title").val(), 
                    contents:$("#contents").val()
                  };

      console.log(param);
      console.log(JSON.stringify(param));

      $.ajax({
            type:'POST',
            data: JSON.stringify(param),
            url:"/board/updateBoard",
            dataType: "json",
            contentType: "application/json",
            success : function(data) {    
                console.log(data);
                alert("수정이 완료되었습니다.");
                location.href="/board/boardList";
            },
            error: function(jqXHR, textStatus, errorThrown) {
                alert("ERROR : " + textStatus + " : " + errorThrown);
            }        
      })

      //frm.action = "/board/updateBoard";
      //frm.submit();

    });
    

    $('#delete').on("click",function(){
      var frm = $('#frm')[0];
      frm.action = "/board/deleteBoard";
      frm.submit();
    });


  /* 
  	$('#frm').validate({
		rules: {
			title: {
				required: true
			},
			contents:{
				required: true
			}
		},
		submitHandler : function(frm, e) {

			e.preventDefault();
			e.stopPropagation();

      
			cmmFormModify($(frm), '/board/updateBoard', function(data) {
				var responseCode = data.header.responseCode;
				if (200 == responseCode) {
					bsFormAlert("팝업 수정이 완료되었습니다. <br> 목록으로 돌아가시겠습니까?", function() {
						$(".btn-list").trigger("click");
					});
				} else if (921 == responseCode) {
					bsAlert('선택한 기간에 노출 중인 팝업이 있습니다.<br/>노출기간은 중복 설정할 수 없습니다.');
				}
			});
      
		}
	});
  */

  });
</script>


</head>
<body>
  <div>
    <h2>게시글 상세 화면</h2>
    <form id="frm" method="post">
      <table>
        <colgroup>
          <col width="15%">
          <col width="35%">
          <col width="15%">
          <col width="35%">
        </colgroup>
        <caption>게시글 상세 내용</caption>
        <tbody>
          <tr>
            <td scope="row">글 번호</td>
            <td th:text="${board.boardId}"></td>
            <td scope="row">조회수</td>
            <td th:text="${board.hitCnt}"></td>
          </tr>
          <tr>
            <td scope="row">작성자</td>
            <td th:text="${board.creatorId}"></td>
            <td scope="row">작성일</td>
            <td th:text="${board.createdAt}"></td>
          </tr>
          <tr>
            <td scope="row">제목</td>
            <td colspan="3"><input type="text" id="title" name="title" th:value="${board.title}" /></td>
          </tr>
          <tr>
            <td>내용</td>
            <td colspan="3" class="view_text">
              <textarea title="내용" id="contents" name="contents" th:text="${board.contents}" rows="10" cols="50"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" id="boardId" th:value="${board.boardId}" />
    </form>

    <a href="#this" class="btn" id="list">목록으로</a>
    <a href="#this" class="btn" id="edit">수정</a>
    <a href="#this" class="btn" id="delete">삭제</a>
  </div>

</body>
</html>