<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" th:href="@{/css/board.css}"/>
<script src="/js/commons.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
  $(document).ready(function(){

    // 목록버튼
    $('#list').on("click",function(){
      location.href="/board/boardList";
    });

    // 수정버튼
    $('#edit').on("click",function(){
      var frm = $('#frm')[0];

      var boardId = $("#boardId").val();
      var title = $("#title").val();
      var contents = $("#contents").val();

      var param = {
                    boardId : boardId,
                    title: title, 
                    contents: contents
                  };

      //console.log(param);
      //console.log(JSON.stringify(param));

      $.ajax({
        type: 'POST',
        data: JSON.stringify(param),
        url: "/board/updateBoard",
        dataType: "json",
        contentType: "application/json",
        success: function (data) {
          console.log(data);
          alert("수정이 완료되었습니다.");
          location.href = "/board/boardList";
        },
        error: function (jqXHR, textStatus, errorThrown) {
          alert("ERROR : " + textStatus + " : " + errorThrown);
        }
      })

    });

    // 삭제버튼
    $('#delete').on("click",function(){

      var url = "/board/deleteBoard"; // / 빼고 통신해보기
      var boardId = $("#boardId").val();
      //var boardId = 855;
      var data = {
                    boardId : boardId
                };

      var callback = function(data){
          if(data >= 1) {
            alert("삭제가 완료되었습니다.");
            location.href = "/board/boardList";
          } else {
            alert("삭제가 실패되었습니다.");
          }
      }

      ajaxRest(url, $.param(data), callback);

    });



  });





</script>


</head>
<body>
  <div>
    <h2>게시글 상세 화면</h2>
    <form id="frm" method="post" name="asd">
      <table>
        <colgroup>
          <col width="15%">
          <col width="35%">
          <col width="15%">
          <col width="35%">
        </colgroup>
        <caption>게시글 상세 내용</caption>
        <tbody>
          <tr>
            <td scope="row">글 번호</td>
            <td th:text="${board.boardId}"></td>
            <td scope="row">조회수</td>
            <td th:text="${board.hitCnt}"></td>
          </tr>
          <tr>
            <td scope="row">작성자</td>
            <td th:text="${board.creatorId}"></td>
            <td scope="row">작성일</td>
            <td th:text="${board.createdAt}"></td>
          </tr>
          <tr>
            <td scope="row">제목</td>
            <td colspan="3"><input type="text" id="title" name="title" th:value="${board.title}" /></td>
          </tr>
          <tr>
            <td>내용</td>
            <td colspan="3" class="view_text">
              <textarea title="내용" id="contents" name="contents" th:text="${board.contents}" rows="10" cols="50"></textarea>
            </td>
          </tr>
        </tbody>
      </table>
      <input type="hidden" id="boardId" th:value="${board.boardId}" />
    </form>

    <a href="#this" class="btn" id="list">목록으로</a>
    <a href="#this" class="btn" id="edit">수정</a>
    <a href="#this" class="btn" id="delete">삭제</a>
  </div>

</body>
</html>